.login {
  padding: 0 1.75rem;
  height: inherit;
  background-image: linear-gradient(to right, #4a4ad9, #a560a5);

  &__title {
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 3rem 0 10rem;
    font-size: 2rem;
  }

  &__input {
    &--wrapper {
      display: flex;
      margin-bottom: 2rem;
      input {
        border: none;
        outline: none;
        width: 100%;
        border-radius: 25px;
        padding: 1.25rem;
        font-weight: bold;
        letter-spacing: 0.5px;
        &::placeholder {
          opacity: 0.6;
        }
      }
    }
  }

  &__submit {
    display: flex;
    position: absolute;
    right: 1.75rem;
    left: 1.75rem;
    bottom: 1.5rem;
    button {
      all: unset;
      cursor: pointer;
      color: #fff;
      background-color: #5dc972;
      width: 100%;
      border-radius: 25px;
      padding: 1.25rem;
      text-align: center;
      font-weight: bold;
      font-size: 1.25rem;
      &:disabled,
      &[disabled] {
        background-color: grey;
        cursor: default;
      }
    }
  }
}
